.navbar-static-top {
	margin-left: -14px;
	margin-right: -24px;
	background-color: #FF00DD;
}

.right-nav {
	text-align: right;
	padding-top: 10px;
	padding-right: 20px;
}

.right-nav a {
	display: block;
}

body {
	font-family: Verdana, Geneva, sans-serif;
}

header {
	height: 10%;
}

nav {
	background-color: #FF00DD;
	overflow: hidden;
	padding: 1em;
	width: 100%;
	font-weight: bold;
}

nav a {
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	padding: 0 2em;
}

nav a:visited {
	color: #FFF;
}

.taskList {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #000;
	display: block;
	cursor: pointer
}

.taskList:hover {
	font-size: 22px;
	background: #f6f6f6;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}